/* Css Reset */
*{
    margin: 0; /* removes default margin */
    box-sizing: border-box; /* makes elements size include padding and border */
}

body {
    background-color: rgb(41, 41, 41);
    color: whitesmoke;
    font-family: sans-serif;
}

.main {
    background-color: rgb(70, 70, 70);
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list {
    background-color: rgb(41, 41, 41);
    flex-grow: 1;
    border-radius: 20px;
    padding: 60px 20px;
}

.form-box {
    background-color: rgb(41, 41, 41);
    padding: 50px 20px;
    border-radius: 20px;
}

.task-item {
    background: dodgerblue;
    margin-bottom: 4px;
    padding: 10px 4px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.task-item input {
    width: 30px;
    height: 30px;
}

.task-item label {
    font-size: 20px;
}

.form-box {
    display: flex;
}

.form-box input {
    flex-grow: 1;
    font-size: 20px;
    border-radius: 8px;
    padding: 4px;
}

.form-box button {
    background: inherit;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    width: 80px;
    font-size: 24px;
}